<!-- <div class="alert alert-dismissible alert-danger" style="text-align: center; margin-bottom: 0">
    <h4 class="alert-heading"><strong>Attenzione</strong> sito in costruzione</h4>
    <a class="alert-link" target="_blank" href="https://sites.google.com/itiszuccante.edu.it/schimd2122/home-page">Clicca qui per il sito attualmente in uso</a>
</div> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    {%- assign page_paths = site.header_pages -%}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Materie</a>
          <div class="dropdown-menu">
            {%- for materia in site.materie -%}
            <a class="dropdown-item" href="{{ materia.url }}">{{ materia.sigla }}</a>
            {%- endfor -%}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/materie.html">Materie</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Classi</a>
          <div class="dropdown-menu">
            {%- for classe in site.classi -%}
            <a class="dropdown-item" href="{{ classe.url }}">{{ classe.title }}</a>
            {%- endfor -%}
        </li>
        {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
          <li class="nav-item">
            <a class="nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          </li>
          {%- endif -%}
        {% endfor -%}
          
        <li class="nav-item">
          <a class="nav-link" href="/about/"><i class="bi bi-info-circle"></i></a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid" style="background-size: cover; background-position: center center; background-image: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.6) 100%), url(/assets/img/zuccante_it.jpeg)">
  <div class="container">
    <h1 class="display-4 text-white">{{ page.title | default: site.title | Titolo }}</h1>
  </div>
</div>
