<div class="py-5 border-top">
  <div class="container">

    <p class="h5 mb-3">
      {{ .Site.Title }}
    </p>

    <div class="row">

      <div class="col-sm">
        <ul class="list-unstyled">
          <li>
            {{ .Site.Params.author }} &copy; {{ now.Format "2006" }}
          </li>
          <li>
            {{ partial "social.html" . }}
          </li>
          <li>
            <span style="font-size: small;"><em>Ultimo aggiornamento: {{ now.Format "02/01/2006" }}</em></span>
          </li>
        </ul>
      </div>

      <div class="col-lg text-right">
        <ul class="list-unstyled">
          <li>{{ .Site.Params.description }}</li> 
        </ul>
        <div>
          <p>
          <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img style="float: right" alt="Creative Commons License" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a></div>
        </p>
        </div>

      </div>

    </div>

  </div>
</div>