<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ block "head" . }}{{ partial "head.html" . }}{{ end }}
  </head>
  <body>
    {{ block "header-nav" . }}{{ partial "header-nav.html" . }}{{ end }}
    {{ block "header-title" . }}{{ partial "header-title.html" . }}{{ end }}
    <div class="container py-5">
      {{ block "main" . }}{{ end }}
    </div>
    {{ block "footer" . }}{{ partial "footer.html" . }}{{ end }}
  </body>
</html>