<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% if site.prevent_indexing %}
  <meta name="robots" content="noindex">
  {% endif %}

  {%- include head.html -%}

  {% if page.usemathjax %}
  <script type="text/javascript" async
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
  {% endif %}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper" style="text-align: justify;">
        <div style="border-style: solid; padding: 1pt; border-color: red; background-color: #FFDDDD">
<center><span style="color: red; font-size: 20pt;">
Attenzione il sito è in ancora in fase di costruzione!
</span>
<br />
<span style="font-size: 20pt;">
<a target="_blank" href="https://sites.google.com/itiszuccante.edu.it/schimd2122/home-page">Qui il sito attualmente in uso</a>
</span></center>
</div>
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>