<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

  <div class="alert alert-dismissible alert-danger" style="text-align: center;">
  <h4 class="alert-heading">!! Attenzione !!</h4>
  <p class="mb-0">Questo sito è in ancora in fase di costruzione! <br />
  <a class="alert-link" target="_blank" href="https://sites.google.com/itiszuccante.edu.it/schimd2122/home-page">Qui il sito attualmente in uso</a>
</div>


    <div class="py-5">
      <div class="container page-content">
          {{ content }}
      </div>
    </div>

    {%- include footer.html -%}

  </body>

</html>
