---
layout: default
---

  <section>
    {{ content }}
  </section>

  <section>
    <div class="row">
      <div class="col-8">
        <div class="card border-primary mb-3">
        <h5 class="card-header"><i class="bi bi-mortarboard"></i> Materie</h5>
        <div class="card-body text-primary">
          <ul>
            {% for item in site.materie %}
            <li><a href="{{ item.url }}">{{ item.title }} ({{ item.sigla }})</a></li>
            {% endfor %}
          </ul>
        </div>
        </div>
      </div>
    
      <div class="col-4">
        <div class="card border-primary mb-3">
        <h5 class="card-header"><i class="bi bi-people-fill"></i> Classi</h5>
        <div class="card-body text-primary">
          <ul>
            {% for item in site.classi %}
            <li><a href="{{ item.url }}">{{ item.title }} ({{ item.sigla }})</a></li>
            {% endfor %}
          </ul>
        </div>
        </div>
      </div>
    </div>
  </section>

</div>
