---
layout: default
---

  <section>
    {{ content }}
  </section>

  <section>
    <div class="row">
      <div class="col-8">
        <div class="card border-primary mb-3">
        <h5 class="card-header"><i class="bi bi-mortarboard"></i> Materie</h5>
        <div class="card-body text-primary">
          <ul>
            {% for item in site.materie %}
            <li><a href="{{ item.url }}">{{ item.title }} ({{ item.sigla }})</a></li>
            {% endfor %}
          </ul>
        </div>
        </div>
      </div>
    
      <div class="col-4">
        <div class="card border-primary mb-3">
        <h5 class="card-header"><i class="bi bi-people-fill"></i> Classi</h5>
        <div class="card-body text-primary">
          <ul>
            {% for item in site.classi %}
            <li><a href="{{ item.url }}">{{ item.title }} ({{ item.sigla }})</a></li>
            {% endfor %}
          </ul>
        </div>
        </div>
      </div>
    </div>
  </section>

<!-- Uncomment for blogging
   {%- if site.posts.size > 0 -%}
    <p class="h4">{{ page.list_title | default: "Posts" }}</p>
    <ul class="list-unstyled">
      {%- for post in site.posts -%}
      <li>
        <span class="text-muted">
          {%- assign date_format = "%b %-d, %Y" -%}
          {{ post.date | date: date_format }}
        </span>
        <p class="h5">
          <a href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </p>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%} -->

</div>
